.card {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .card-name {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .card-category {
    margin: 0;
  }
  
  .card-description {
    padding: 10px;
  }
  
  .card-description {
    margin: 0;
  }
  
  .card-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
  }